 body{background-image: url(../img/sjhj-background.png);color: white;}
		 .top{height: 40px;background:rgb(0,25,40);line-height: 40px;font-size: 30px;text-align: center;}
		 .top-div1{position: absolute;text-indent:30px;color: rgb(50,220,230);font-size: 20px}
         .cosdiv{height:580px;}
         /*标题公共部分*/
         .cos-p{margin-top: 10px;}
         .cos-p-1{width:100%-12px;margin-left:12px;height:30px;background:rgb(10,50,70);
       border-radius:0 20px 0 0;font-size: 20px;}
         .cos-p-2{position: absolute;width: 25px;height: 25px;border: 5px solid rgb(50,220,230);background: rgb(5,20,40);}
         .cos-p-2-p{margin-left: 40px;}
          /*第一列body*/
        .rect-1{height:250px;}.rect-2{height:250px;}.rect-3{height:250px;}
	    .cos1-p-1{width:98%;height:230px;background: rgb(10,50,70);
	    
		 position: absolute;left:50%;top: 50%;margin-top:-115px;margin-left: -49%;
		 border-radius:0 0 0 20px;
		}
	     /*第二列body*/
		 .cos1-p-1{width:98%;height:230px;background: rgb(10,50,70);
	    
		 position: absolute;left:50%;top: 50%;margin-top:-115px;margin-left: -49%;
		 border-radius:0 0 0 20px;
		}
		.cos2-p-2 div{width: 50%;height: 120px;float: left;}
		 /*第三列body*/
		 .cos3-p-1{width:98%;height:230px;background: rgb(10,50,70);
	    
		 position: absolute;left:50%;top: 50%;margin-top:-115px;margin-left: -49%;
		 border-radius:0 0 0 20px;
		}
/*矩形的4个边角样式*/		
.rect {
    position: relative;
    margin-top: 10px;
    width: 100%; 
    background: linear-gradient(to left, blue, blue) left top no-repeat, 
                linear-gradient(to bottom, blue, blue) left top no-repeat, 
                linear-gradient(to left, blue, blue) right top no-repeat,
                linear-gradient(to bottom, blue, blue) right top no-repeat, 
                linear-gradient(to left, blue, blue) left bottom no-repeat,
                linear-gradient(to bottom, blue, blue) left bottom no-repeat,
                linear-gradient(to left, blue, blue) right bottom no-repeat,
                linear-gradient(to left, blue, blue) right bottom no-repeat;
    background-size: 1px 10px, 10px 1px, 1px 10px, 10px 1px;  
}

.qiexie{
transform:rotate(50deg);
-ms-transform:rotate(50deg); 	/* IE 9 */
-moz-transform:rotate(50deg); 	/* Firefox */
-webkit-transform:rotate(50deg); /* Safari 和 Chrome */
-o-transform:rotate(50deg); 	/* Opera */


}
/** 导航条样式**/
.cos1-p-1::-webkit-scrollbar {
 width: 8px;
}
 .cos1-p-1::-webkit-scrollbar-track {
 background-color:rgb(10,64,88);
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}
 .cos1-p-1::-webkit-scrollbar-thumb {
 background-color:rgb(50,220,230);
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}
table tr:nth-child(odd){background:rgb(10,64,88);}
#mytable tr td{
	border:1px solid rgb(18,56,79);
    vertical-align: middle;
    border-top: none;
}

.circle { 
width: 8px; 
height: 8px; 
background: rgb(10,180,210); 
-moz-border-radius: 50px; 
-webkit-border-radius: 50px; 
border-radius: 50px; 
position: absolute;
margin-top:58px;
margin-left: 20px;
} 
.mycircle
{
width:10px;height:10px;border-radius:50%;
background:rgb(10,180,210);
display: inline-block
}
ul{ list-style:none; padding:0px; margin:0px; 
height:30px; line-height:30px;
border-top:10px; font-size:12px;background:rgb(10,64,88);
margin-top: 15px;}
ul li {float:left;text-indent:32px;}
ul li:first-child{width:10%;}
ul li:nth-child(2){width:45%;}
ul li:nth-child(3){width:45%;}


	.circleSpan{
			border-radius: 50%;
			height: 50px;
			width: 50px;
			display: inline-block;
			background: none;
			vertical-align: middle;
			border: 2px solid  rgb(50,220,230);
        }	
        .circleSpanNum{
        	display: block;
        	color: #FFFFFF;
        	height: 22px; 
        	line-height: 46px;
        	text-align: center;
        	text-indent:0px;
        }	